:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey: hsl(243, 28%, 13%);
  --color-pale-navy: hsl(235, 18%, 26%);
  --color-dark-navy: hsl(234, 29%, 20%);
  --color-vermellion: hsl(4, 100%, 67%);
}