@use "../util/variables" as v;

body {
  background-color: var(--color-white);
  font-family: v.$font-family;
}

.image-full-width {
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  max-width: 100vw;
  width: 100vw;
}