@use "../util/breakpoints" as b;
@use "../util/variables" as v;
@use "../util/functions" as f;
@use "../util/mixins" as m;

body {
  background-color: var(--color-white);
  font-family: v.$font-family;
  color: var(--color-dark-navy);

  @include b.breakpoint(medium) {
    background-color: var(--color-pale-navy);
  }
}

h1 {
  font-size: f.rem(40);
  font-weight: v.$font-bold;
  padding-top: f.rem(24);
  padding-bottom: f.rem(24);
  line-height: 100%;
}

p {
  font-size: f.rem(16);
  line-height: 150%;
}

label {
  font-size: f.rem(12);
  font-weight: v.$font-bold;
}

input {
  display: block;
  height: f.rem(56);
  width: f.rem(327);
  @include m.input;

  @include b.breakpoint(medium) {
    width: f.rem(376);
  }
}

input:hover {
  border: 1px solid var(--color-dark-navy);
}

button {
  height: f.rem(56);
  width: f.rem(327);
  margin-top: f.rem(20);
  font-family: v.$font-family !important;
  font-size: f.rem(16) !important;
  font-weight: v.$font-bold !important;
  @include m.button;

  @include b.breakpoint(medium) {
    width: f.rem(376);
  }
}

button:hover {
  background: #FF6B3A;
  background: linear-gradient(180deg, #FF6B3A, #FF527C);
}

.image-full-width {
  @include b.breakpoint-down(small) {
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    width: 100vw;
  }
}

.information {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: f.rem(24);
}

.main-container {
  padding-top: f.rem(24);
}

.container {
  display: flex;
  align-items: center;
  padding-bottom: f.rem(10);
}

.icon {
  padding-right: f.rem(10);
}

.email-input {
  padding-top: f.rem(24);
}

.error-message {
  color: var(--color-vermellion);
  font-size: f.rem(12);
  font-weight: v.$font-bold;
}

.error-message-input {
  color: var(--color-vermellion);
  border: 1px solid #FF6155;
}

.flex-parent-container {
  @include b.breakpoint(medium) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}

.grid-container {
  @include b.breakpoint(medium) {
    display: grid;
    grid-template-columns: f.rem(378) 1fr;
    gap: f.rem(40);
    place-items: center;
    width: min(100% - f.rem(32), f.rem(928));
    margin-inline: auto;
    background-color: var(--color-white);
    border-radius: f.rem(36);
    padding: f.rem(24);
  }
}

.content-container {
  @include b.breakpoint(medium) {
    grid-area: 1 / 1 / 2 / 2;
  }
}

.image-container {
  @include b.breakpoint(medium) {
    grid-area: 1 / 2 / 2 / 3;
  }
}